{% extends 'index - 副本.html' %}
{% load staticfiles %}
{% block content %}
        <div class="col-sm-6 blog-main">

          <form class="form-signin" action="" method="post">
           {% csrf_token %}
            <h2 class="form-signin-heading">用户找回密码</h2>
<!--             <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputText" class="form-control" placeholder="请输入新的昵称" required autofocus name="username" value="{{username}}"> -->
            
<!--             <input type="text" id="inputPassword" class="form-control" placeholder="请输入新的密码" required name="password1" value="{{password}}"> -->
            <!-- <label for="inputPassword" class="sr-only">Password</label> -->
            <!-- <input type="password" id="inputPassword" class="form-control" placeholder="再次输入密码" required name="password2"> -->
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">请输入您的昵称</span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" name="username" value="{{username}}">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">请输入新的密码</span>
              <input type="text" class="form-control" placeholder="password" aria-describedby="sizing-addon2" name="password1" value="">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">请再次输入密码</span>
              <input type="text" class="form-control" placeholder="password" aria-describedby="sizing-addon2" name="password2" value="">
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" id="show" type="submit" onClick="timedMsg()">确定？</button>
            <br>   
            <h3>{{error}}</h3>
            <h4></h4>

          </form>
        </div><!-- /.blog-main -->
{% endblock %}